@{
    ViewBag.Title = "";
}


        <div class="container" style="margin-top:20px">
                <div class="list-group">
                <p  class="list-group-item active">Integrantes</p>
                <p class="list-group-item">Escobar</p>
                <p class="list-group-item">Escobar</p>
                <p class="list-group-item">Escobar</p>
            </div>
        </div>