@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <a href=" http://104.197.29.243:8080/openam/oauth2/authorize?client_id=TPI_GrupoNro5&scope=read&state=8268745
&redirect_uri=http://localhost:54705/home/callBack&response_type=code
">iniciar sesion</a>
</div>